//
// Module menu
//

// Module links
$modulemenu-group-padding-vertical: 2px !default;
$modulemenu-group-padding-horizontal: 4px !default;
$modulemenu-item-icon-bg-color: inherit !default;
$modulemenu-group-icon-bg-color: inherit !default;
$modulemenu-group-container: inherit !default;
$modulemenu-group-title-font-weight: bold !default;
$modulemenu-group-title-padding-y: 7px !default;
$modulemenu-group-title-padding-x: 20px !default;
$modulemenu-item-title-padding-y: 0 !default;
$modulemenu-item-title-padding-x: 10px !default;
$modulemenu-item-padding: 2px 4px !default;
$modulemenu-item-padding-expanded: 2px 4px !default;

// Module menu wrapper
.module-wrapper {
    position: relative;

    iframe {
        border: none;
    }
}

.scaffold-modulemenu {
    overflow: visible !important;
}

// Module menu styling
.modulemenu {
    /// Module menu group
    .modulemenu-group-container {
        clear: both;
        background-color: $modulemenu-group-container;
        @extend .list-unstyled;
    }

    .modulemenu-group {
        position: relative;
        padding: 5px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .modulemenu-group-header,
    .modulemenu-item-link {
        @extend .clearfix;

        position: relative;
        display: block;
        cursor: pointer;
        text-decoration: none;
    }

    .modulemenu-group-header {
        user-select: none;
        text-transform: uppercase;
        padding: $modulemenu-group-padding-vertical $modulemenu-group-padding-horizontal;
    }

    .modulemenu-item-link {
        padding: $modulemenu-item-padding;


        .modulemenu-icon {
            background-color: $modulemenu-item-icon-bg-color;
        }

        &:focus,
        &:hover {
            outline: none;
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    .modulemenu-item.active {
        .modulemenu-item-link {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    // Module menu icons
    .modulemenu-icon {
        float: left;
        margin-right: $modulemenu-item-padding-horizontal;
        background-color: $modulemenu-group-icon-bg-color;

        .fa {
            font-size: 0.5em;
        }
    }

    // Module menu group and item titles
    .modulemenu-group-title,
    .modulemenu-item-title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        *zoom: 1;
    }

    .modulemenu-item-title {
        padding: $modulemenu-item-title-padding-y $modulemenu-item-title-padding-x;
    }


    .modulemenu-group-title {
        font-weight: $modulemenu-group-title-font-weight;
        line-height: 1;
        padding: $modulemenu-group-title-padding-y $modulemenu-group-title-padding-x;
        display: none;

        .caret {
            @include rotate(90deg);

            position: absolute;
            top: 17px;
            right: 18px;
        }
    }

    // Module Group Expanded
    .expanded {
        .modulemenu-group-title {
            .caret {
                @include rotate(0deg);
            }
        }
    }
}


.scaffold:not(.scaffold-modulemenu-expanded) {
    .modulemenu-group {
        &:hover {
            background-color: $modulemenu-group-icon-bg-color;
            .modulemenu-group-container {
                position: absolute;
                top: 0;
                left: $scaffold-modulemenu-snapped-width - 1;
                width: 200px;
                display: block !important;
                padding:8px 0;
                background-color: $modulemenu-group-icon-bg-color;
            }
        }
    }
}

// Module menu snapped
.scaffold-modulemenu-expanded {
    .modulemenu-item-link {
        padding: $modulemenu-item-padding-expanded;
    }

    .modulemenu-group-title {
        display: block;
    }

    .scaffold-modulemenu {
        overflow: auto !important;
    }
}
