//
// Template demo wip Styles
// ---------------
// Description: Backend template demo v1
//

@import 'backend';
@import 'editor';
@import 'form';
@import 'linkvalidator';
@import 'templates';

.svg-toolbar__submenu {
    position: absolute;
    background: #fff;
    top: -140px;
    right: 0;
}

#typo3-pagetree-tree {
    .node-icon {
        transform: scale(1.2) translate(8px, -4px);
    }

    .node-icon-overlay {
        transform: scale(1.2) translate(8px, 0px);
    }

    .links {
        transform: translateY(4px);
    }
}

.tree-toolbar {
    height: $navbar-height;
    background: $typo3-pagetree-bg;
}
